# Terraform
terraform-code/.terraform/
terraform-code/*.tfstate
terraform-code/*.tfstate.*
terraform-code/.terraform.lock.hcl
terraform-code/crash.log
terraform-code/*.log
terraform-code/*.backup

# Maven
target/